USE [master]
GO
/****** Object:  Database [SuitcaseRegistry]    Script Date: 12.02.2026 12:03:10 ******/
CREATE DATABASE [SuitcaseRegistry]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SuitcaseRegistry', FILENAME = N'C:\Users\10230047\SuitcaseRegistry.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SuitcaseRegistry_log', FILENAME = N'C:\Users\10230047\SuitcaseRegistry_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SuitcaseRegistry].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SuitcaseRegistry]
GO
/****** Object:  Table [dbo].[BaggageRegistration]    Script Date: 12.02.2026 12:03:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaggageRegistration](
	[IDBagReg] [int] IDENTITY(1,1) NOT NULL,
	[IDSuitcase] [int] NULL,
	[IDFlight] [int] NULL,
	[Passegir] [int] NULL,
	[WeightReg] [int] NULL,
	[DateReg] [datetime] NULL,
	[ReceptionDesk] [int] NULL,
	[Operator] [int] NULL,
	[Cheque] [nvarchar](50) NULL,
 CONSTRAINT [PK_BaggageRegistration] PRIMARY KEY CLUSTERED 
(
	[IDBagReg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlackList]    Script Date: 12.02.2026 12:03:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlackList](
	[IDBlackList] [int] IDENTITY(1,1) NOT NULL,
	[IDSuitcase] [int] NULL,
	[Owner] [int] NULL,
	[Reason] [nvarchar](max) NULL,
	[IDLevel] [int] NULL,
	[DateADD] [datetime] NULL,
	[AddPerson] [int] NULL,
	[ValidityPeriod] [datetime] NULL,
 CONSTRAINT [PK_BlackList] PRIMARY KEY CLUSTERED 
(
	[IDBlackList] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CICategory]    Script Date: 12.02.2026 12:03:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CICategory](
	[IDCICategory] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_CICategory] PRIMARY KEY CLUSTERED 
(
	[IDCICategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConfiscatedItem]    Script Date: 12.02.2026 12:03:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfiscatedItem](
	[IDConfiscatedItem] [int] IDENTITY(1,1) NOT NULL,
	[IDSuitcase] [int] NULL,
	[Inspector] [int] NULL,
	[Subject] [nvarchar](50) NULL,
	[IDCICategory] [int] NULL,
	[IDDegreeProhibition] [int] NULL,
	[Quantity] [int] NULL,
	[Measurement] [nvarchar](50) NULL,
	[DateConfiscation] [datetime] NULL,
	[Storagelocation] [nvarchar](50) NULL,
	[Destroyed] [int] NULL,
	[DateDestroyed] [datetime] NULL,
 CONSTRAINT [PK_ConfiscatedItem] PRIMARY KEY CLUSTERED 
(
	[IDConfiscatedItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DegreeDanger]    Script Date: 12.02.2026 12:03:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DegreeDanger](
	[IDDegreeDanger] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_DegreeDanger] PRIMARY KEY CLUSTERED 
(
	[IDDegreeDanger] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DegreeProhibition]    Script Date: 12.02.2026 12:03:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DegreeProhibition](
	[IDDegreeProhibition] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_DegreeProhibition] PRIMARY KEY CLUSTERED 
(
	[IDDegreeProhibition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flight]    Script Date: 12.02.2026 12:03:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flight](
	[IDFlight] [int] IDENTITY(1,1) NOT NULL,
	[DestinationPortal] [nvarchar](50) NULL,
	[DateTime] [datetime] NULL,
	[IDStatysFlight] [int] NULL,
	[Operator] [int] NULL,
	[NumberSuitcases] [int] NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_Flight] PRIMARY KEY CLUSTERED 
(
	[IDFlight] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Incident]    Script Date: 12.02.2026 12:03:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incident](
	[IDIncident] [int] IDENTITY(1,1) NOT NULL,
	[IDSuitcase] [int] NULL,
	[IDFlight] [int] NULL,
	[IDTypeIncident] [int] NULL,
	[Date] [datetime] NULL,
	[Place] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[IDStatysTypeIncident] [int] NULL,
	[Responsible] [int] NULL,
	[Damage] [int] NULL,
 CONSTRAINT [PK_Incident] PRIMARY KEY CLUSTERED 
(
	[IDIncident] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inspection]    Script Date: 12.02.2026 12:03:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inspection](
	[IDInspection] [int] IDENTITY(1,1) NOT NULL,
	[IDSuitcase] [int] NULL,
	[Inspector] [int] NULL,
	[Date] [datetime] NULL,
	[IDTypeInspection] [int] NULL,
	[IDResult] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[Conclusion] [nvarchar](max) NULL,
	[PhotoEvidence] [nvarchar](50) NULL,
 CONSTRAINT [PK_Inspection] PRIMARY KEY CLUSTERED 
(
	[IDInspection] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Level]    Script Date: 12.02.2026 12:03:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Level](
	[IDLevel] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Level] PRIMARY KEY CLUSTERED 
(
	[IDLevel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Result]    Script Date: 12.02.2026 12:03:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Result](
	[IDResult] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Result] PRIMARY KEY CLUSTERED 
(
	[IDResult] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12.02.2026 12:03:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IDRoles] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[IDRoles] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statys]    Script Date: 12.02.2026 12:03:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statys](
	[IDStatys] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Statys] PRIMARY KEY CLUSTERED 
(
	[IDStatys] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatysFlight]    Script Date: 12.02.2026 12:03:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatysFlight](
	[IDStatysFlight] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_StatysFlight] PRIMARY KEY CLUSTERED 
(
	[IDStatysFlight] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatysTracking]    Script Date: 12.02.2026 12:03:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatysTracking](
	[IDStatysTracking] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_StatysTracking] PRIMARY KEY CLUSTERED 
(
	[IDStatysTracking] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatysTypeIncident]    Script Date: 12.02.2026 12:03:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatysTypeIncident](
	[IDStatysTypeIncident] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_StatysTypeIncident] PRIMARY KEY CLUSTERED 
(
	[IDStatysTypeIncident] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suitcase]    Script Date: 12.02.2026 12:03:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suitcase](
	[IDSuitcase] [int] IDENTITY(1,1) NOT NULL,
	[QRKod] [nvarchar](50) NULL,
	[Owner] [int] NULL,
	[Model] [nvarchar](50) NULL,
	[Colour] [nchar](10) NULL,
	[Matireal] [nvarchar](50) NULL,
	[Weight] [int] NULL,
	[IDDegreeDanger] [int] NULL,
	[SignDanger] [nvarchar](max) NULL,
	[IDStatys] [int] NULL,
	[DateReg] [datetime] NULL,
	[Last_Up] [datetime] NULL,
	[Photo] [nvarchar](50) NULL,
	[Features] [nvarchar](max) NULL,
 CONSTRAINT [PK_Suitcase] PRIMARY KEY CLUSTERED 
(
	[IDSuitcase] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tracking]    Script Date: 12.02.2026 12:03:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tracking](
	[IDTracking] [int] IDENTITY(1,1) NOT NULL,
	[IDSuitcase] [int] NULL,
	[IDFlight] [int] NULL,
	[Coordinate] [nvarchar](50) NULL,
	[IDStatysTracking] [int] NULL,
	[Time] [datetime] NULL,
	[Scanned] [int] NULL,
 CONSTRAINT [PK_Tracking] PRIMARY KEY CLUSTERED 
(
	[IDTracking] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeIncident]    Script Date: 12.02.2026 12:03:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeIncident](
	[IDTypeIncident] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_TypeIncident] PRIMARY KEY CLUSTERED 
(
	[IDTypeIncident] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeInspection]    Script Date: 12.02.2026 12:03:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeInspection](
	[IDTypeInspection] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_TypeInspection] PRIMARY KEY CLUSTERED 
(
	[IDTypeInspection] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12.02.2026 12:03:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IDUser] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [nvarchar](50) NULL,
	[IDRoles] [int] NULL,
	[NumberTicet] [int] NULL,
	[Token] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Telefon] [nvarchar](50) NULL,
	[DateReg] [datetime] NULL,
	[DateExit] [datetime] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[IDUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BaggageRegistration] ON 

INSERT [dbo].[BaggageRegistration] ([IDBagReg], [IDSuitcase], [IDFlight], [Passegir], [WeightReg], [DateReg], [ReceptionDesk], [Operator], [Cheque]) VALUES (1, 1, 1, 1, 425, CAST(N'2025-01-20T01:30:45.000' AS DateTime), 4, 2, N'sadvsv')
SET IDENTITY_INSERT [dbo].[BaggageRegistration] OFF
GO
SET IDENTITY_INSERT [dbo].[BlackList] ON 

INSERT [dbo].[BlackList] ([IDBlackList], [IDSuitcase], [Owner], [Reason], [IDLevel], [DateADD], [AddPerson], [ValidityPeriod]) VALUES (1, 1, 1, N'Хам', 2, CAST(N'2025-12-20T01:30:45.000' AS DateTime), 3, CAST(N'2028-12-20T01:30:45.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[BlackList] OFF
GO
SET IDENTITY_INSERT [dbo].[CICategory] ON 

INSERT [dbo].[CICategory] ([IDCICategory], [Name]) VALUES (1, N'Оружие')
INSERT [dbo].[CICategory] ([IDCICategory], [Name]) VALUES (2, N'Зелье')
INSERT [dbo].[CICategory] ([IDCICategory], [Name]) VALUES (3, N'Артефакт')
SET IDENTITY_INSERT [dbo].[CICategory] OFF
GO
SET IDENTITY_INSERT [dbo].[ConfiscatedItem] ON 

INSERT [dbo].[ConfiscatedItem] ([IDConfiscatedItem], [IDSuitcase], [Inspector], [Subject], [IDCICategory], [IDDegreeProhibition], [Quantity], [Measurement], [DateConfiscation], [Storagelocation], [Destroyed], [DateDestroyed]) VALUES (1, 1, 3, N'Макар', 1, 1, 1, N'34', CAST(N'2025-12-20T01:30:45.000' AS DateTime), N'Склад', 1, CAST(N'2025-12-20T01:30:45.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ConfiscatedItem] OFF
GO
SET IDENTITY_INSERT [dbo].[DegreeDanger] ON 

INSERT [dbo].[DegreeDanger] ([IDDegreeDanger], [Name]) VALUES (1, N'Безопасный')
INSERT [dbo].[DegreeDanger] ([IDDegreeDanger], [Name]) VALUES (2, N'Подозрительный')
INSERT [dbo].[DegreeDanger] ([IDDegreeDanger], [Name]) VALUES (3, N'Опасный')
SET IDENTITY_INSERT [dbo].[DegreeDanger] OFF
GO
SET IDENTITY_INSERT [dbo].[DegreeProhibition] ON 

INSERT [dbo].[DegreeProhibition] ([IDDegreeProhibition], [Name]) VALUES (1, N'Запрещён')
INSERT [dbo].[DegreeProhibition] ([IDDegreeProhibition], [Name]) VALUES (2, N'Ограничен')
INSERT [dbo].[DegreeProhibition] ([IDDegreeProhibition], [Name]) VALUES (3, N'Под лицензию')
SET IDENTITY_INSERT [dbo].[DegreeProhibition] OFF
GO
SET IDENTITY_INSERT [dbo].[Flight] ON 

INSERT [dbo].[Flight] ([IDFlight], [DestinationPortal], [DateTime], [IDStatysFlight], [Operator], [NumberSuitcases], [Note]) VALUES (1, N'Грифиндор', CAST(N'2025-12-20T01:30:45.000' AS DateTime), 2, 2, 12, N'Особо опасный обьект')
SET IDENTITY_INSERT [dbo].[Flight] OFF
GO
SET IDENTITY_INSERT [dbo].[Incident] ON 

INSERT [dbo].[Incident] ([IDIncident], [IDSuitcase], [IDFlight], [IDTypeIncident], [Date], [Place], [Description], [IDStatysTypeIncident], [Responsible], [Damage]) VALUES (3, 1, 1, 2, CAST(N'2025-12-20T01:30:45.000' AS DateTime), N'Москва огурченков', N'Был взломан', 1, 3, 123)
SET IDENTITY_INSERT [dbo].[Incident] OFF
GO
SET IDENTITY_INSERT [dbo].[Inspection] ON 

INSERT [dbo].[Inspection] ([IDInspection], [IDSuitcase], [Inspector], [Date], [IDTypeInspection], [IDResult], [Description], [Conclusion], [PhotoEvidence]) VALUES (5, 1, 1, CAST(N'2023-12-31T15:30:45.000' AS DateTime), 2, 2, N'Особо опасный кишимир', N'Изьто и унечтожено', N'Doki.jpg')
SET IDENTITY_INSERT [dbo].[Inspection] OFF
GO
SET IDENTITY_INSERT [dbo].[Level] ON 

INSERT [dbo].[Level] ([IDLevel], [Name]) VALUES (1, N'Внимание  ')
INSERT [dbo].[Level] ([IDLevel], [Name]) VALUES (2, N'Запрет провоза')
INSERT [dbo].[Level] ([IDLevel], [Name]) VALUES (3, N'Арест')
SET IDENTITY_INSERT [dbo].[Level] OFF
GO
SET IDENTITY_INSERT [dbo].[Result] ON 

INSERT [dbo].[Result] ([IDResult], [Name]) VALUES (1, N'Чисто')
INSERT [dbo].[Result] ([IDResult], [Name]) VALUES (2, N'Нарушение')
INSERT [dbo].[Result] ([IDResult], [Name]) VALUES (3, N'Конфискация')
SET IDENTITY_INSERT [dbo].[Result] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([IDRoles], [Name]) VALUES (1, N'Passenger')
INSERT [dbo].[Roles] ([IDRoles], [Name]) VALUES (2, N'Inspector')
INSERT [dbo].[Roles] ([IDRoles], [Name]) VALUES (3, N'Logistician')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Statys] ON 

INSERT [dbo].[Statys] ([IDStatys], [Name]) VALUES (1, N'Зарегистрирован')
INSERT [dbo].[Statys] ([IDStatys], [Name]) VALUES (2, N'На досмотре')
INSERT [dbo].[Statys] ([IDStatys], [Name]) VALUES (3, N'В пути')
SET IDENTITY_INSERT [dbo].[Statys] OFF
GO
SET IDENTITY_INSERT [dbo].[StatysFlight] ON 

INSERT [dbo].[StatysFlight] ([IDStatysFlight], [Name]) VALUES (1, N'Ожидание')
INSERT [dbo].[StatysFlight] ([IDStatysFlight], [Name]) VALUES (2, N'Открыт')
INSERT [dbo].[StatysFlight] ([IDStatysFlight], [Name]) VALUES (3, N'Закрыт')
SET IDENTITY_INSERT [dbo].[StatysFlight] OFF
GO
INSERT [dbo].[StatysTracking] ([IDStatysTracking], [Name]) VALUES (1, N'Загружен')
INSERT [dbo].[StatysTracking] ([IDStatysTracking], [Name]) VALUES (2, N'В сортировке')
INSERT [dbo].[StatysTracking] ([IDStatysTracking], [Name]) VALUES (3, N'Улетел')
GO
SET IDENTITY_INSERT [dbo].[StatysTypeIncident] ON 

INSERT [dbo].[StatysTypeIncident] ([IDStatysTypeIncident], [Name]) VALUES (1, N'Потеря')
INSERT [dbo].[StatysTypeIncident] ([IDStatysTypeIncident], [Name]) VALUES (2, N'Порча')
INSERT [dbo].[StatysTypeIncident] ([IDStatysTypeIncident], [Name]) VALUES (3, N'Побег ')
SET IDENTITY_INSERT [dbo].[StatysTypeIncident] OFF
GO
SET IDENTITY_INSERT [dbo].[Suitcase] ON 

INSERT [dbo].[Suitcase] ([IDSuitcase], [QRKod], [Owner], [Model], [Colour], [Matireal], [Weight], [IDDegreeDanger], [SignDanger], [IDStatys], [DateReg], [Last_Up], [Photo], [Features]) VALUES (1, N'4322875925729', 1, N'Стиракат', N'Зелёный   ', N'Армяне', 432, 2, N'Пахнет корманом, тикает струна', 3, CAST(N'2025-06-12T00:00:00.000' AS DateTime), CAST(N'2027-10-31T00:00:00.000' AS DateTime), N'golpol.jpg', N'Агресивный')
SET IDENTITY_INSERT [dbo].[Suitcase] OFF
GO
SET IDENTITY_INSERT [dbo].[Tracking] ON 

INSERT [dbo].[Tracking] ([IDTracking], [IDSuitcase], [IDFlight], [Coordinate], [IDStatysTracking], [Time], [Scanned]) VALUES (1, 1, 1, N'4', 2, CAST(N'2025-12-20T01:30:45.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Tracking] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeIncident] ON 

INSERT [dbo].[TypeIncident] ([IDTypeIncident], [Name]) VALUES (1, N'Потеря')
INSERT [dbo].[TypeIncident] ([IDTypeIncident], [Name]) VALUES (2, N'Вскрытие')
INSERT [dbo].[TypeIncident] ([IDTypeIncident], [Name]) VALUES (3, N'Порча')
SET IDENTITY_INSERT [dbo].[TypeIncident] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeInspection] ON 

INSERT [dbo].[TypeInspection] ([IDTypeInspection], [Name]) VALUES (1, N'Чисто')
INSERT [dbo].[TypeInspection] ([IDTypeInspection], [Name]) VALUES (2, N'Нарушение')
INSERT [dbo].[TypeInspection] ([IDTypeInspection], [Name]) VALUES (3, N'Конфискация')
SET IDENTITY_INSERT [dbo].[TypeInspection] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([IDUser], [FIO], [IDRoles], [NumberTicet], [Token], [Email], [Telefon], [DateReg], [DateExit]) VALUES (1, N'Петренко Амин Игуаривеч', 1, 32453, N'sd5asf4f1wq', N'dsaaaff@.asdad', N'791231412523', CAST(N'2023-12-31T15:30:45.000' AS DateTime), CAST(N'2026-06-12T02:00:45.000' AS DateTime))
INSERT [dbo].[User] ([IDUser], [FIO], [IDRoles], [NumberTicet], [Token], [Email], [Telefon], [DateReg], [DateExit]) VALUES (2, N'Сургин Иван Теренкович', 3, 83475, N'h83jgf8whf1', N'hgsdsfsf@svdsd.sdvs', N'702325325276', CAST(N'2024-09-21T06:45:50.000' AS DateTime), CAST(N'2023-12-31T15:30:45.000' AS DateTime))
INSERT [dbo].[User] ([IDUser], [FIO], [IDRoles], [NumberTicet], [Token], [Email], [Telefon], [DateReg], [DateExit]) VALUES (3, N'Туркин Вулган', 2, 43363, N'jgdf485sdf84', N'dfsebftgf@sdfs.dsgs', N'794235412534', CAST(N'2021-04-09T22:12:03.000' AS DateTime), CAST(N'2026-01-31T23:32:45.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[BaggageRegistration]  WITH CHECK ADD  CONSTRAINT [FK_BaggageRegistration_Flight] FOREIGN KEY([IDFlight])
REFERENCES [dbo].[Flight] ([IDFlight])
GO
ALTER TABLE [dbo].[BaggageRegistration] CHECK CONSTRAINT [FK_BaggageRegistration_Flight]
GO
ALTER TABLE [dbo].[BaggageRegistration]  WITH CHECK ADD  CONSTRAINT [FK_BaggageRegistration_Suitcase] FOREIGN KEY([IDSuitcase])
REFERENCES [dbo].[Suitcase] ([IDSuitcase])
GO
ALTER TABLE [dbo].[BaggageRegistration] CHECK CONSTRAINT [FK_BaggageRegistration_Suitcase]
GO
ALTER TABLE [dbo].[BaggageRegistration]  WITH CHECK ADD  CONSTRAINT [FK_BaggageRegistration_User] FOREIGN KEY([Passegir])
REFERENCES [dbo].[User] ([IDUser])
GO
ALTER TABLE [dbo].[BaggageRegistration] CHECK CONSTRAINT [FK_BaggageRegistration_User]
GO
ALTER TABLE [dbo].[BaggageRegistration]  WITH CHECK ADD  CONSTRAINT [FK_BaggageRegistration_User1] FOREIGN KEY([Operator])
REFERENCES [dbo].[User] ([IDUser])
GO
ALTER TABLE [dbo].[BaggageRegistration] CHECK CONSTRAINT [FK_BaggageRegistration_User1]
GO
ALTER TABLE [dbo].[BlackList]  WITH CHECK ADD  CONSTRAINT [FK_BlackList_Level] FOREIGN KEY([IDLevel])
REFERENCES [dbo].[Level] ([IDLevel])
GO
ALTER TABLE [dbo].[BlackList] CHECK CONSTRAINT [FK_BlackList_Level]
GO
ALTER TABLE [dbo].[BlackList]  WITH CHECK ADD  CONSTRAINT [FK_BlackList_Suitcase] FOREIGN KEY([IDSuitcase])
REFERENCES [dbo].[Suitcase] ([IDSuitcase])
GO
ALTER TABLE [dbo].[BlackList] CHECK CONSTRAINT [FK_BlackList_Suitcase]
GO
ALTER TABLE [dbo].[BlackList]  WITH CHECK ADD  CONSTRAINT [FK_BlackList_User] FOREIGN KEY([Owner])
REFERENCES [dbo].[User] ([IDUser])
GO
ALTER TABLE [dbo].[BlackList] CHECK CONSTRAINT [FK_BlackList_User]
GO
ALTER TABLE [dbo].[BlackList]  WITH CHECK ADD  CONSTRAINT [FK_BlackList_User1] FOREIGN KEY([AddPerson])
REFERENCES [dbo].[User] ([IDUser])
GO
ALTER TABLE [dbo].[BlackList] CHECK CONSTRAINT [FK_BlackList_User1]
GO
ALTER TABLE [dbo].[ConfiscatedItem]  WITH CHECK ADD  CONSTRAINT [FK_ConfiscatedItem_CICategory] FOREIGN KEY([IDCICategory])
REFERENCES [dbo].[CICategory] ([IDCICategory])
GO
ALTER TABLE [dbo].[ConfiscatedItem] CHECK CONSTRAINT [FK_ConfiscatedItem_CICategory]
GO
ALTER TABLE [dbo].[ConfiscatedItem]  WITH CHECK ADD  CONSTRAINT [FK_ConfiscatedItem_DegreeProhibition] FOREIGN KEY([IDDegreeProhibition])
REFERENCES [dbo].[DegreeProhibition] ([IDDegreeProhibition])
GO
ALTER TABLE [dbo].[ConfiscatedItem] CHECK CONSTRAINT [FK_ConfiscatedItem_DegreeProhibition]
GO
ALTER TABLE [dbo].[ConfiscatedItem]  WITH CHECK ADD  CONSTRAINT [FK_ConfiscatedItem_Suitcase] FOREIGN KEY([IDSuitcase])
REFERENCES [dbo].[Suitcase] ([IDSuitcase])
GO
ALTER TABLE [dbo].[ConfiscatedItem] CHECK CONSTRAINT [FK_ConfiscatedItem_Suitcase]
GO
ALTER TABLE [dbo].[ConfiscatedItem]  WITH CHECK ADD  CONSTRAINT [FK_ConfiscatedItem_User] FOREIGN KEY([Inspector])
REFERENCES [dbo].[User] ([IDUser])
GO
ALTER TABLE [dbo].[ConfiscatedItem] CHECK CONSTRAINT [FK_ConfiscatedItem_User]
GO
ALTER TABLE [dbo].[Flight]  WITH CHECK ADD  CONSTRAINT [FK_Flight_StatysFlight] FOREIGN KEY([IDStatysFlight])
REFERENCES [dbo].[StatysFlight] ([IDStatysFlight])
GO
ALTER TABLE [dbo].[Flight] CHECK CONSTRAINT [FK_Flight_StatysFlight]
GO
ALTER TABLE [dbo].[Flight]  WITH CHECK ADD  CONSTRAINT [FK_Flight_User] FOREIGN KEY([Operator])
REFERENCES [dbo].[User] ([IDUser])
GO
ALTER TABLE [dbo].[Flight] CHECK CONSTRAINT [FK_Flight_User]
GO
ALTER TABLE [dbo].[Incident]  WITH CHECK ADD  CONSTRAINT [FK_Incident_Flight] FOREIGN KEY([IDFlight])
REFERENCES [dbo].[Flight] ([IDFlight])
GO
ALTER TABLE [dbo].[Incident] CHECK CONSTRAINT [FK_Incident_Flight]
GO
ALTER TABLE [dbo].[Incident]  WITH CHECK ADD  CONSTRAINT [FK_Incident_StatysTypeIncident] FOREIGN KEY([IDStatysTypeIncident])
REFERENCES [dbo].[StatysTypeIncident] ([IDStatysTypeIncident])
GO
ALTER TABLE [dbo].[Incident] CHECK CONSTRAINT [FK_Incident_StatysTypeIncident]
GO
ALTER TABLE [dbo].[Incident]  WITH CHECK ADD  CONSTRAINT [FK_Incident_Suitcase] FOREIGN KEY([IDSuitcase])
REFERENCES [dbo].[Suitcase] ([IDSuitcase])
GO
ALTER TABLE [dbo].[Incident] CHECK CONSTRAINT [FK_Incident_Suitcase]
GO
ALTER TABLE [dbo].[Incident]  WITH CHECK ADD  CONSTRAINT [FK_Incident_TypeIncident] FOREIGN KEY([IDTypeIncident])
REFERENCES [dbo].[TypeIncident] ([IDTypeIncident])
GO
ALTER TABLE [dbo].[Incident] CHECK CONSTRAINT [FK_Incident_TypeIncident]
GO
ALTER TABLE [dbo].[Incident]  WITH CHECK ADD  CONSTRAINT [FK_Incident_User] FOREIGN KEY([Responsible])
REFERENCES [dbo].[User] ([IDUser])
GO
ALTER TABLE [dbo].[Incident] CHECK CONSTRAINT [FK_Incident_User]
GO
ALTER TABLE [dbo].[Inspection]  WITH CHECK ADD  CONSTRAINT [FK_Inspection_Result] FOREIGN KEY([IDResult])
REFERENCES [dbo].[Result] ([IDResult])
GO
ALTER TABLE [dbo].[Inspection] CHECK CONSTRAINT [FK_Inspection_Result]
GO
ALTER TABLE [dbo].[Inspection]  WITH CHECK ADD  CONSTRAINT [FK_Inspection_Suitcase] FOREIGN KEY([IDSuitcase])
REFERENCES [dbo].[Suitcase] ([IDSuitcase])
GO
ALTER TABLE [dbo].[Inspection] CHECK CONSTRAINT [FK_Inspection_Suitcase]
GO
ALTER TABLE [dbo].[Inspection]  WITH CHECK ADD  CONSTRAINT [FK_Inspection_TypeInspection] FOREIGN KEY([IDTypeInspection])
REFERENCES [dbo].[TypeInspection] ([IDTypeInspection])
GO
ALTER TABLE [dbo].[Inspection] CHECK CONSTRAINT [FK_Inspection_TypeInspection]
GO
ALTER TABLE [dbo].[Inspection]  WITH CHECK ADD  CONSTRAINT [FK_Inspection_User] FOREIGN KEY([Inspector])
REFERENCES [dbo].[User] ([IDUser])
GO
ALTER TABLE [dbo].[Inspection] CHECK CONSTRAINT [FK_Inspection_User]
GO
ALTER TABLE [dbo].[Suitcase]  WITH CHECK ADD  CONSTRAINT [FK_Suitcase_DegreeDanger] FOREIGN KEY([IDDegreeDanger])
REFERENCES [dbo].[DegreeDanger] ([IDDegreeDanger])
GO
ALTER TABLE [dbo].[Suitcase] CHECK CONSTRAINT [FK_Suitcase_DegreeDanger]
GO
ALTER TABLE [dbo].[Suitcase]  WITH CHECK ADD  CONSTRAINT [FK_Suitcase_Statys] FOREIGN KEY([IDStatys])
REFERENCES [dbo].[Statys] ([IDStatys])
GO
ALTER TABLE [dbo].[Suitcase] CHECK CONSTRAINT [FK_Suitcase_Statys]
GO
ALTER TABLE [dbo].[Suitcase]  WITH CHECK ADD  CONSTRAINT [FK_Suitcase_User] FOREIGN KEY([Owner])
REFERENCES [dbo].[User] ([IDUser])
GO
ALTER TABLE [dbo].[Suitcase] CHECK CONSTRAINT [FK_Suitcase_User]
GO
ALTER TABLE [dbo].[Tracking]  WITH CHECK ADD  CONSTRAINT [FK_Tracking_Flight] FOREIGN KEY([IDFlight])
REFERENCES [dbo].[Flight] ([IDFlight])
GO
ALTER TABLE [dbo].[Tracking] CHECK CONSTRAINT [FK_Tracking_Flight]
GO
ALTER TABLE [dbo].[Tracking]  WITH CHECK ADD  CONSTRAINT [FK_Tracking_StatysTracking] FOREIGN KEY([IDStatysTracking])
REFERENCES [dbo].[StatysTracking] ([IDStatysTracking])
GO
ALTER TABLE [dbo].[Tracking] CHECK CONSTRAINT [FK_Tracking_StatysTracking]
GO
ALTER TABLE [dbo].[Tracking]  WITH CHECK ADD  CONSTRAINT [FK_Tracking_Suitcase] FOREIGN KEY([IDSuitcase])
REFERENCES [dbo].[Suitcase] ([IDSuitcase])
GO
ALTER TABLE [dbo].[Tracking] CHECK CONSTRAINT [FK_Tracking_Suitcase]
GO
ALTER TABLE [dbo].[Tracking]  WITH CHECK ADD  CONSTRAINT [FK_Tracking_User] FOREIGN KEY([Scanned])
REFERENCES [dbo].[User] ([IDUser])
GO
ALTER TABLE [dbo].[Tracking] CHECK CONSTRAINT [FK_Tracking_User]
GO
ALTER TABLE [dbo].[Tracking]  WITH CHECK ADD  CONSTRAINT [FK_Tracking_User1] FOREIGN KEY([Scanned])
REFERENCES [dbo].[User] ([IDUser])
GO
ALTER TABLE [dbo].[Tracking] CHECK CONSTRAINT [FK_Tracking_User1]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Roles] FOREIGN KEY([IDRoles])
REFERENCES [dbo].[Roles] ([IDRoles])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Roles]
GO
USE [master]
GO
