USE [master]
GO
/****** Object:  Database [Confectionery]    Script Date: 11.06.2026 10:38:52 ******/
CREATE DATABASE [Confectionery]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Confectionery', FILENAME = N'C:\Users\10230047\Confectionery.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Confectionery_log', FILENAME = N'C:\Users\10230047\Confectionery_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Confectionery].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Confectionery]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11.06.2026 10:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BasketCatalogs]    Script Date: 11.06.2026 10:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BasketCatalogs](
	[Id_BasketCatalog] [int] IDENTITY(1,1) NOT NULL,
	[Id_Basket] [int] NOT NULL,
	[Id_Catalog] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_BasketCatalogs] PRIMARY KEY CLUSTERED 
(
	[Id_BasketCatalog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Baskets]    Script Date: 11.06.2026 10:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Baskets](
	[Id_Basket] [int] IDENTITY(1,1) NOT NULL,
	[Total_Price] [decimal](18, 2) NOT NULL,
	[Id_User] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsOrdered] [bit] NOT NULL,
	[Id_Order] [int] NULL,
 CONSTRAINT [PK_Baskets] PRIMARY KEY CLUSTERED 
(
	[Id_Basket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalog]    Script Date: 11.06.2026 10:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalog](
	[Id_Catalog] [int] IDENTITY(1,1) NOT NULL,
	[Product] [nvarchar](100) NOT NULL,
	[Id_Ctegory] [int] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Photo] [varbinary](max) NULL,
	[PhotoContentType] [nvarchar](20) NULL,
	[PhotoFileName] [nvarchar](100) NULL,
	[PhotoSize] [bigint] NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[PhotoPath] [nvarchar](max) NULL,
 CONSTRAINT [PK_Catalog] PRIMARY KEY CLUSTERED 
(
	[Id_Catalog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11.06.2026 10:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id_Category] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id_Category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderCatalogs]    Script Date: 11.06.2026 10:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderCatalogs](
	[Id_OrderCatalog] [int] IDENTITY(1,1) NOT NULL,
	[Id_Order] [int] NOT NULL,
	[Id_Catalog] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_OrderCatalogs] PRIMARY KEY CLUSTERED 
(
	[Id_OrderCatalog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 11.06.2026 10:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id_Order] [int] IDENTITY(1,1) NOT NULL,
	[Id_User] [int] NOT NULL,
	[Id_StatusOrder] [int] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11.06.2026 10:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id_Role] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id_Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusOrders]    Script Date: 11.06.2026 10:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusOrders](
	[Id_StatusOrder] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_StatusOrders] PRIMARY KEY CLUSTERED 
(
	[Id_StatusOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11.06.2026 10:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id_User] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Id_Role] [int] NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260313065509_Halava', N'8.0.23')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260313101626_Hokl', N'8.0.23')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260316070529_Volgadva', N'8.0.23')
GO
SET IDENTITY_INSERT [dbo].[Catalog] ON 

INSERT [dbo].[Catalog] ([Id_Catalog], [Product], [Id_Ctegory], [Description], [Photo], [PhotoContentType], [PhotoFileName], [PhotoSize], [Price], [PhotoPath]) VALUES (3, N'Торт Наполеон', 1, N'Слоеный торт с заварным кремом', NULL, NULL, NULL, NULL, CAST(2200.00 AS Decimal(18, 2)), N'napoleon.jpg')
SET IDENTITY_INSERT [dbo].[Catalog] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id_Category], [Name], [Description]) VALUES (1, N'Торты', N'На день рождения, свадьбу, праздники')
INSERT [dbo].[Categories] ([Id_Category], [Name], [Description]) VALUES (2, N'Пирожные', N'Эклеры, макаронс, профитроли')
INSERT [dbo].[Categories] ([Id_Category], [Name], [Description]) VALUES (3, N'Пироги', N'Мясные, рыбные, овощные, сладкие')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id_Role], [Name]) VALUES (1, N'Пользователь')
INSERT [dbo].[Roles] ([Id_Role], [Name]) VALUES (2, N'Администратор')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[StatusOrders] ON 

INSERT [dbo].[StatusOrders] ([Id_StatusOrder], [Name]) VALUES (1, N'Новый')
INSERT [dbo].[StatusOrders] ([Id_StatusOrder], [Name]) VALUES (2, N'Подтвержден')
INSERT [dbo].[StatusOrders] ([Id_StatusOrder], [Name]) VALUES (3, N'Готовится')
SET IDENTITY_INSERT [dbo].[StatusOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id_User], [Login], [Name], [Id_Role], [Password], [Email]) VALUES (1, N'admin', N'Администратор', 2, N'Admin123!', N'admin@confectionery.ru')
INSERT [dbo].[Users] ([Id_User], [Login], [Name], [Id_Role], [Password], [Email]) VALUES (2, N'user', N'Тестовый Пользователь', 1, N'User123!', N'user@example.com')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_BasketCatalogs_Id_Basket]    Script Date: 11.06.2026 10:38:53 ******/
CREATE NONCLUSTERED INDEX [IX_BasketCatalogs_Id_Basket] ON [dbo].[BasketCatalogs]
(
	[Id_Basket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BasketCatalogs_Id_Catalog]    Script Date: 11.06.2026 10:38:53 ******/
CREATE NONCLUSTERED INDEX [IX_BasketCatalogs_Id_Catalog] ON [dbo].[BasketCatalogs]
(
	[Id_Catalog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Baskets_Id_Order]    Script Date: 11.06.2026 10:38:53 ******/
CREATE NONCLUSTERED INDEX [IX_Baskets_Id_Order] ON [dbo].[Baskets]
(
	[Id_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Baskets_Id_User]    Script Date: 11.06.2026 10:38:53 ******/
CREATE NONCLUSTERED INDEX [IX_Baskets_Id_User] ON [dbo].[Baskets]
(
	[Id_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Catalog_Id_Ctegory]    Script Date: 11.06.2026 10:38:53 ******/
CREATE NONCLUSTERED INDEX [IX_Catalog_Id_Ctegory] ON [dbo].[Catalog]
(
	[Id_Ctegory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderCatalogs_Id_Catalog]    Script Date: 11.06.2026 10:38:53 ******/
CREATE NONCLUSTERED INDEX [IX_OrderCatalogs_Id_Catalog] ON [dbo].[OrderCatalogs]
(
	[Id_Catalog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderCatalogs_Id_Order]    Script Date: 11.06.2026 10:38:53 ******/
CREATE NONCLUSTERED INDEX [IX_OrderCatalogs_Id_Order] ON [dbo].[OrderCatalogs]
(
	[Id_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_Id_StatusOrder]    Script Date: 11.06.2026 10:38:53 ******/
CREATE NONCLUSTERED INDEX [IX_Orders_Id_StatusOrder] ON [dbo].[Orders]
(
	[Id_StatusOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_Id_User]    Script Date: 11.06.2026 10:38:53 ******/
CREATE NONCLUSTERED INDEX [IX_Orders_Id_User] ON [dbo].[Orders]
(
	[Id_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_Id_Role]    Script Date: 11.06.2026 10:38:53 ******/
CREATE NONCLUSTERED INDEX [IX_Users_Id_Role] ON [dbo].[Users]
(
	[Id_Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BasketCatalogs] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Baskets] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Baskets] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsOrdered]
GO
ALTER TABLE [dbo].[Catalog] ADD  DEFAULT ((0.0)) FOR [Price]
GO
ALTER TABLE [dbo].[BasketCatalogs]  WITH CHECK ADD  CONSTRAINT [FK_BasketCatalogs_Baskets_Id_Basket] FOREIGN KEY([Id_Basket])
REFERENCES [dbo].[Baskets] ([Id_Basket])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BasketCatalogs] CHECK CONSTRAINT [FK_BasketCatalogs_Baskets_Id_Basket]
GO
ALTER TABLE [dbo].[BasketCatalogs]  WITH CHECK ADD  CONSTRAINT [FK_BasketCatalogs_Catalog_Id_Catalog] FOREIGN KEY([Id_Catalog])
REFERENCES [dbo].[Catalog] ([Id_Catalog])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BasketCatalogs] CHECK CONSTRAINT [FK_BasketCatalogs_Catalog_Id_Catalog]
GO
ALTER TABLE [dbo].[Baskets]  WITH CHECK ADD  CONSTRAINT [FK_Baskets_Orders_Id_Order] FOREIGN KEY([Id_Order])
REFERENCES [dbo].[Orders] ([Id_Order])
GO
ALTER TABLE [dbo].[Baskets] CHECK CONSTRAINT [FK_Baskets_Orders_Id_Order]
GO
ALTER TABLE [dbo].[Baskets]  WITH CHECK ADD  CONSTRAINT [FK_Baskets_Users_Id_User] FOREIGN KEY([Id_User])
REFERENCES [dbo].[Users] ([Id_User])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Baskets] CHECK CONSTRAINT [FK_Baskets_Users_Id_User]
GO
ALTER TABLE [dbo].[Catalog]  WITH CHECK ADD  CONSTRAINT [FK_Catalog_Categories_Id_Ctegory] FOREIGN KEY([Id_Ctegory])
REFERENCES [dbo].[Categories] ([Id_Category])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Catalog] CHECK CONSTRAINT [FK_Catalog_Categories_Id_Ctegory]
GO
ALTER TABLE [dbo].[OrderCatalogs]  WITH CHECK ADD  CONSTRAINT [FK_OrderCatalogs_Catalog_Id_Catalog] FOREIGN KEY([Id_Catalog])
REFERENCES [dbo].[Catalog] ([Id_Catalog])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderCatalogs] CHECK CONSTRAINT [FK_OrderCatalogs_Catalog_Id_Catalog]
GO
ALTER TABLE [dbo].[OrderCatalogs]  WITH CHECK ADD  CONSTRAINT [FK_OrderCatalogs_Orders_Id_Order] FOREIGN KEY([Id_Order])
REFERENCES [dbo].[Orders] ([Id_Order])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderCatalogs] CHECK CONSTRAINT [FK_OrderCatalogs_Orders_Id_Order]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_StatusOrders_Id_StatusOrder] FOREIGN KEY([Id_StatusOrder])
REFERENCES [dbo].[StatusOrders] ([Id_StatusOrder])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_StatusOrders_Id_StatusOrder]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users_Id_User] FOREIGN KEY([Id_User])
REFERENCES [dbo].[Users] ([Id_User])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users_Id_User]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_Id_Role] FOREIGN KEY([Id_Role])
REFERENCES [dbo].[Roles] ([Id_Role])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles_Id_Role]
GO
USE [master]
GO
